CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
googletest/
cpp_projects/googletest
cpp_projects/cmake
build/
cpp_projects/build
.cmake
*.exe
*/*.exkuild/smgooe
IBMcareers/
cpp_projects/IBMcareers
.vscode/
*.logs
*.log
